body {
    transition: background-color 2.5s ease, color 2.5s ease;
}

/* Thème sombre général */
.dark-theme {
    background-color: #262626; /* Fond plus sombre pour augmenter le contraste */
    color: #f8f8f8; /* Texte plus clair pour augmenter le contraste */
}

/* Titre H1 spécifique au thème sombre */
.dark-theme h1 {
    color: #fff; /* Couleur de texte blanche pour assurer la visibilité */
}

/* Navigation spécifique au thème sombre */
.dark-theme nav {
    background-color: #333; /* Fond plus sombre pour la barre de navigation */
    color: #fff; /* Texte blanc pour la barre de navigation */
}

.dark-theme nav a {
    color: #fff; /* Assure que les liens sont aussi en blanc */
}

.dark-theme nav a:hover {
    background-color: #505050; /* Couleur de fond au survol */
}

/* Body theme */
body.dark-theme {
    background-color: #333;
    color:white;
}

body.dark-theme nav {
    background-color: #444;
}

body.dark-theme #carrousel img {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4);
}

/* Gallerie */
#galerie {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Carrousel */
#carrousel {
    margin-bottom: 30px; /* Espace en dessous du carrousel */
}

h1, h2 {
    margin-top: 20px; /* Espace au-dessus des titres */
    margin-bottom: 10px; /* Espace en dessous des titres */
}

p {
    line-height: 1.6; /* Hauteur de ligne pour la lisibilité du texte */
}


#carrousel img {
    width: 100%;
    display: none;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    #carrousel img {
        width: 100%;
    }
}

.dark-theme #carrousel img {
    border: 1px solid #444;
}

#carrousel img.active {
    display: block;
}

/* Titre H1 H2 ... */
h1 {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    color: #666;
}

/* Navigation */
nav {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    display: flex; /* Utilise flexbox pour aligner les éléments */
    justify-content: space-between; /* Sépare les éléments entre deux extrémités */
    gap: 20px; /* Espace entre les éléments */
    align-items: center;
}

nav a, nav span {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    display: inline-block;
    font-weight: bold;
}

/* Stylisation de la barre de navigation */
nav ul {
    list-style-type: none; /* Enlève les puces de la liste */
    margin: 0; /* Enlève la marge par défaut */
    padding: 0; /* Enlève le padding par défaut */
    display: flex; /* Affiche les éléments de la liste en ligne */
    justify-content: space-between; /* Répartit l'espace uniformément entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
}

nav li {
    margin: 0 130px;
}

nav.dark-theme {
    background-color: #333;
    color: #f8f8f8;
}

nav a:hover {
    background-color: #f4f4f4;
}

/* Stylisation de l'heure */
#clock {
    font-family: 'Arial', sans-serif; /* Utilise la police de ton choix */
    font-size: 1.5em; /* Ajuste la taille de la police */
    font-style: italic; /* Style de la police italic */
    color: #333; /* Couleur du texte pour le thème clair */
    padding: 10px 15px; /* Ajuste le padding pour l'espacement */
    text-align: right; /* Alignement du texte à droite */
    margin-left: auto; /* Cela pousse l'heure tout à droite */ 
}

.dark-theme #clock {
    color: rgb(255, 255, 255);
}

/* button */
button {
    background-color: #008CBA; /* Couleur de fond */
    color: white; /* Couleur de texte */
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73; /* Couleur de fond au survol */
}

.dark-theme button {
    background-color: #666; /* Couleur de fond en thème sombre */
    color: #ddd; /* Couleur de texte en thème sombre */
}

.dark-theme button:hover {
    background-color: #555; /* Couleur de fond au survol en thème sombre */
}

